@import "activity-streams";

.placeholder-img {
    background: #ccc;
    height: 100px;
}

.logo {
  top: 10px;
  left: 20px;
  position: absolute;
}

.title {
    font-size: 1.3em;
    font-weight: bold;
}
.sub-title {
    font-size: 1.1em;
    font-weight: bold;
}

div.error {
    position: fixed;
    top: 100px;
    left: 25%;
    width: 50%;
    background: #fff;
    border: 1px solid red;
    color: #E22929;
    text-align: center;
    padding: 20px;
    z-index: 999;
}
