@mixin rotate($degrees) {
	-webkit-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
	-o-transform: rotate($degrees);
	transform: rotate($degrees);
}

@mixin rotateX($degrees) {
	-webkit-transform: rotateX($degrees);
	-ms-transform: rotateX($degrees);
	-o-transform: rotateX($degrees);
	transform: rotateX($degrees);
}

@mixin translate3d($x, $y, $z) {
	-webkit-transform: translate3d($x, $y, $z);
	-moz-transform: translate3d($x, $y, $z);
	-ms-transform: translate3d($x, $y, $z);
	-o-transform: translate3d($x, $y, $z);
	transform: translate3d($x, $y, $z);
}

@mixin translate($x, $y) {
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin translateY($y) {
	-webkit-transform: translateY($y);
	-moz-transform: translateY($y);
	-ms-transform: translateY($y);
	-o-transform: translateY($y);
	transform: translateY($y);
}

@mixin rotateY($degree) {
	-webkit-transform: rotateY($degree);
	-moz-transform: rotateY($degree);
	-ms-transform: rotateY($degree);
	-o-transform: rotateY($degree);
	transform: rotateY($degree);
}

@mixin scale($x, $y) {
	-webkit-transform: scale($x, $y);
	-moz-transform: scale($x, $y);
	-ms-transform: scale($x, $y);
	-o-transform: scale($x, $y);
	transform: scale($x, $y);
}